.todo-form {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.todo-input {

    width: 260px;
    padding: 8px 12px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 3px;
    height: 22px;
}

.btn-submit {
    padding: 0 10px;
    height: 40px;
    width: 110px;
    border-radius: 3px;
    border: 1px solid rgb(69, 142, 247);
    cursor: pointer;
    background-color: rgb(69, 142, 247);
    color: white;
    font-weight: 700;

}

.btn-submit:hover {
    background-color: rgb(45, 114, 203);
}