.todo-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
  padding: 0.3125rem;
  @include breakpoint-up(medium) {
    width: 31.25rem;
  }

  &-content {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.3125rem 0.625rem 0.3125rem 0.3125rem;
    border-bottom: 1px solid $separation-line;
  }

  &-check {
    height: 1.25rem;
    width: 1.25rem;
    border-right: 0.9375rem;
    border-radius: 0.125rem;

    cursor: pointer;
    background-color: $white;
    &:hover {
      background-color: $green-check-hover;
    }
    svg {
      width: inherit;
      height: inherit;
      color: $green;
    }
  }
}

.label {
  font-size: 15px;
  margin: 0 0.625rem;
  @include breakpoint-up(medium) {
    font-size: 18px;
  }
  &::first-letter {
    text-transform: uppercase;
  }
}

.todo-list-item-delete {
  border: none;
  cursor: pointer;
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  svg {
    height: inherit;
    width: inherit;
    color: $thrash-icon;
  }

  &:hover {
    svg {
      color: $thrash-icon-hover;
    }
  }
}

.todo-list-item-checked {
  text-decoration: line-through;
  opacity: 0.4;
}
