.todo-form-container {
  margin-bottom: 1.25rem;
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  .todo-input {
    border: none;
    width: 21.875rem;
    padding: 0.5rem 0.75rem;
    border: 0.0625rem solid $separation-line;
    background-color: $white;
    border-radius: 0.1875rem;
    height: 1.375rem;
    &:focus {
      outline: none;
      border: 0.125rem solid $black;
    }
  }

  .btn-submit {
    padding: 0 0.625rem;
    height: 2.5rem;
    width: 6.875rem;
    border-radius: 0.1875rem;
    border: 0.0625rem solid $green;
    cursor: pointer;
    background-color: $green;
    color: $white;
    font-weight: 700;
    transition: background-color 200ms ease-in-out;
    &:hover {
      background-color: $green-hover;
    }
  }
}
