.todo-list {
  display: flex;
  flex-flow: column nowrap;
}

.todo-list-title {
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.4375rem;
  text-transform: uppercase;
  text-align: center;
  display: block;
  padding: 0.3125rem 0;
  @include breakpoint-up(medium) {
    font-size: 35px;
  }
}

.todo-list-content {
  margin: 1.875rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 1.25rem;
}

.no-todos {
  margin: 1.25rem auto;
  width: 80%;
  margin-bottom: 0.625rem;
  text-align: center;
  padding: 1.875rem 0;
  font-size: 18px;
  color: $no-todos-font;
  border-bottom: 0.0625rem solid $separation-line;
  border-top: 0.0625rem solid $separation-line;
}
