@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");

$background-pattern: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23adbb48' fill-opacity='0.37' fill-rule='evenodd'/%3E%3C/svg%3E");

// colors

$background-color: #dee892;
$background-content: rgb(233, 233, 91);
$no-todos-font: rgb(90, 90, 90);

$white: #ffffff;
$black: black;
$green: green;
$green-hover: rgb(1, 85, 1);
$green-check-hover: rgb(186, 243, 186);
$thrash-icon: rgb(219, 3, 3);
$thrash-icon-hover: rgb(148, 0, 0);
$separation-line: rgba(105, 105, 105, 0.39);
